<section id="categories" class="flex justify-between">
  <!-- category -->
  <div class="container p-5">
    <app-message></app-message>
    <h4 class="display-4">Categories</h4>
    <div *ngIf="!categories" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="categories" class="list-group overflow-scroll h-[300px]">
      <a
        *ngFor="let category of categories"
        class="list-group-item list-group-item-action"
      >
        {{ category.name }}
      </a>
    </div>
    <div *ngIf="data.user" class="card bg-light mt-5">
      <div class="card-body">
        <h4 class="card-title">Add New Category</h4>
        <hr />
        <div class="form">
          <div class="form-group">
            <label>Category</label>
            <input
              type="text"
              name="newCategory"
              class="form-control"
              [(ngModel)]="newCategory"
            />
          </div>
          <button
            type="button"
            class="btn btn-info"
            (click)="addCategory()"
            [disabled]="btnDisabled"
          >
            Add Category
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- brand -->
  <div class="container p-5">
    <app-message></app-message>
    <h4 class="display-4">brand</h4>
    <hr />
    <div *ngIf="!brands" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="brands" class="list-group overflow-scroll h-[300px]">
      <a
        *ngFor="let brand of brands"
        class="list-group-item list-group-item-action"
      >
        {{ brand.name }}
      </a>
    </div>
    <div *ngIf="data.user" class="card bg-light mt-5">
      <div class="card-body">
        <h4 class="card-title">Add New Brand</h4>
        <hr />
        <div class="form">
          <div class="form-group">
            <label>brand</label>
            <input
              type="text"
              name="newCategory"
              class="form-control"
              [(ngModel)]="newBrand"
            />
          </div>
          <button type="button" class="btn btn-info" (click)="addBrand()">
            Add brand
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
